<!DOCTYPE html>
<html>
<head>
    <title>Show Times</title>
</head>
<body>
    <table>
        <% @airings.each do |airing| %>
        <tr>
            <td><%= airing['AiringTime'].local.strftime('%m/%d') %></td>
            <td><%= airing['AiringTime'].local.strftime('%I:%M') %></td>

            <td><%= (airing['AiringTime'] + airing['Duration'].to_i * 60).local.strftime('%I:%M %P') %></td>

            <td><%= airing['Title'] %></td>
            <td><%= "s#{(airing['season'] || "").rjust(2, '0')}e#{(airing['episode'] || "").rjust(2, '0')}" %></td>
            <td><%= airing['EpisodeTitle'] %></td>
        </tr>
        <% end %>
    </table>
    <a href="/shows">Shows</a>
</body>
</html>