<div class="container">
    <div class="table-holder">
    
    <div id="calendar"></div>

    <br><br>

    <table class="table table-condensed">
        <% @airings.reverse.each do |airing| %>
        <tr>

            <td><%= airing['AiringTime'].local.strftime('%m/%d') %></td>
            <td><%= airing['AiringTime'].local.strftime('%I:%M') %></td>

            <td><%= (airing['AiringTime'] + airing['Duration'].to_i * 60).local.strftime('%I:%M %P') %></td>

            <td><%= airing['Title'] %></td>
            <td><%= "s#{(airing['season'] || "").rjust(2, '0')}e#{(airing['episode'] || "").rjust(2, '0')}" %></td>
            <td class="hidden">
                <%= airing['last_fetch'] %>
            </td>
            <td><%= airing['SourceLongName'] %></td>
            <td><%= airing['EpisodeTitle'] %></td>
        </tr>
        <% end %>
    </table>

    </div>
</div>

<script type='text/javascript'>
    events = <%= @events.to_json %>;
    var es = [];
    for(var i = 0; i < events.length; i++) {
        e = events[i];
        es.push({
            title: e.title,
            start: new Date(e.start * 1000),
            end: new Date(e.end * 1000),
            copy: e.copy,
            channel: e.channel || "",
            episode_title: e.episode_title
        });
    }

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        // put your options and callbacks here
        events: es,
        eventRender: function(event, element) {
            element.popover({
                content: (event.copy || "") + "<div style='width: 400px;'>" + event.channel + "</div>",
                title: event.episode_title || "Episode Info Missing",
                trigger: 'hover',
                html: true,
                viewport: { selector: 'body', padding: 0 },
                placement: 'auto right',
                container: 'body'
            });
        }
    });
</script>
